
/*madou css content-----------------------------------------*/
#madou_main{
	width:1000px;
	margin:0px auto;
}

#madou_main_top{
	width:1000px;
	float:left;
}

#madou_main_center{
	width:1000px;
	float:left;
}

#madou_main_foot{
	width:1000px;
	float:left;
}

#madou_main_top_logo{
	width:1000px;
	height:80px;
	float:left;
}

/*----------madou_main_top_menu-------------------*/

#madou_main_top_menu{
	width:1000px;
	height:30px;
	float:left;
	background:#ccc;
	font-size:13px;
	line-height:30px;
}

#madou_main_top_menu ul{
	width:880px;
	margin:0px 0px 0px 20px;
	float:left;
}

#madou_main_top_menu ul li{
	height:30px;
	float:left;
	line-height:30px;
	text-align:center;
	padding:0px 10px 0px 10px;
	cursor:pointer;
}

#madou_main_top_menu ul li:hover{
	color:#000;
	background:#eee;
}

.active{
	background:#333;
	color:#FFF;
	font-weight:bold;
}

.guanzhu{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:url(../images/gz.gif) no-repeat 0px 5px;
	float:left;
	position:relative;
}

.guanzhu a:hover ul{
	display:block;
}

.showguanzhu{
	width:100px;
	height:30px;
	line-height:30px;
	float:left;
}

#madou_main_top_menu .guanzhu ul{
	display:none;
	position:absolute;
	background:#ccc;
	left:-40px;
	top:30px;
	width:120px;
	float:none;
}

#madou_main_top_menu .guanzhu ul li{
	float:none;
}

/*--------madou_main_center_content-----------*/
#madou_main_center_content{
	width:1000px;
	padding:10px;
	float:left;
}

#madou_main_center_content_top1{
	width:250px;
	float:left;
}

#madou_main_center_content_top2{
	width:460px;
	margin:0px 0px 0px 10px;
	float:left;
}

#madou_main_center_content_top3{
	width:250px;
	margin:0px 0px 0px 10px;
	float:left;
}

#madou_main_center_content_top_left{
	width:228px;
	border:1px solid #ccc;
	background:#eee;
	margin:0px 0px 10px 0px;
	padding:10px;
	float:left;
}

#madou_main_center_content_top_left_photo{
	width:228px;
	height:150px;
	background:#fff;
	float:left;
}

#madou_main_center_content_top_left_text{
	width:228px;
	height:50px;
	text-align:left;
	margin:10px 0px 0px 0px;
	float:left;
}

/*----------中间广告图片--------------*/
#madou_gg{
	width:448px;
	background:#eee;
	border:1px solid #ccc;
	padding:5px;
	float:left;
}

#madou_gg #madou_gg_photo{
	width:448px;
	height:435px;
	background:#fff;
	float:left;
}

#madou_gg #madou_gg_photo img{
	width:448px;
	height:435px;
	float:left;
}

#madou_gg #madou_gg_number{
	width:448px;
	height:20px;
	margin:5px 0px 0px 0px;
	float:left;
}
#madou_gg #madou_gg_number ul{
	background:#666;
	float:right;
}

#madou_gg #madou_gg_number ul li:hover{
	color:#000;
	background:#fff;
}

#madou_gg #madou_gg_number ul li{
	height:20px;
	line-height:20px;
	padding:0px 10px 0px 10px;
	cursor:pointer;
	color:#fff;
	float:left;
}

/*---------------------madou_main_center_content_showphoto---------------------------*/

#madou_main_center_content_showphoto{
	width:700px;
	float:left;
}

#madou_main_center_content_showphoto_title{
	width:700px;
	height:30px;
	padding:0px 10px 0px 10px;
	line-height:30px;
	background:#ccc;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	float:left;
}

#madou_main_center_content_showphoto ul li:hover{
	background:#eee;
}

#madou_main_center_content_showphoto ul li{
	width:213px;;
	height:200px;
	padding:10px;
	float:left;
}

#madou_main_center_content_showphoto ul li img{
	width:213px;
	height:200px;
	float:left;
}

/*----------madou_main_center_content_xly----------------*/
#madou_main_center_content_xly{
	width:250px;
	margin:0px 0px 0px 20px;
	padding:0px 10px 10px 10px;
	float:left;
}

#madou_main_center_content_xly_title{
	width:230px;
	height:30px;
	padding:0px 10px 0px 10px;
	background:#ccc;
	float:left;
}

#xly_title_left{
	width:80px;
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	float:left;
}

#xly_title_right{
	width:148px;
	margin:4px 0px 0px 0px;
	height:25px;
	line-height:25px;
	float:right;
}

.xlyactive{
	background:#eee;
}

#xly_title_right ul li:hover{
	background:#eee;
}

#xly_title_right ul li{
	height:25px;
	line-height:25px;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	padding:0px 10px 0px 10px;
	margin:0px 0px 0px 2px;
	cursor:pointer;
	float:right;
}

.madou_main_center_content_xly_content{
	width:230px;
	height:200px;/*可以删除*/
	padding:10px;
	text-align:left;
	background:#eee;
	float:left;
}

/*--madou_main_center_content_zxps---*/
#madou_main_center_content_zxps{
	width:980px;
	margin:10px 0px 0px 0px;
	float:left;
}

#madou_main_center_content_zxps_title{
	width:960px;
	height:30px;
	background:#ccc;
	padding:0px 10px 0px 10px;
	line-height:30px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	float:left;
}

#madou_main_center_content_zxps ul li:hover{
	background:#eee;
}

#madou_main_center_content_zxps ul li{
	width:225px;
	padding:10px;
	text-align:left;
	font-size:14px;
	float:left;
}

#madou_main_center_content_zxps ul li img{
	width:225px;
	padding:0px 0px 10px 0px;
	float:left;
}

/*madou_main_center_content_taglong*/
#madou_main_center_content_taglong{
	width:980px;
	margin:10px 0px 0px 0px;
	float:left;
}

#madou_main_center_content_taglong_title{
	width:960px;
	height:30px;
	background:#ccc;
	line-height:30px;
	padding:0px 10px 0px 10px;
	float:left;
}

#madou_main_center_content_taglong_title_left{
	width:800px;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:left;
	font-weight:bold;
	float:left;
}

#madou_main_center_content_taglong_title_right{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:right;
	padding:0px 20px 0px 0px;
	background:url(../images/more.gif) no-repeat 103px 6px;;
	float:right;
}

#madou_main_center_content_taglong_content{
	width:960px;
	float:left;
}

#madou_main_center_content_taglong_content ul{
	width:160px;
	background:#ddd;
	float:left;
}

#madou_main_center_content_taglong_content ul li:hover{
	background:#fff;
	font-weight:bold;
}

#madou_main_center_content_taglong_content ul li{
	width:140px;
	padding:10px;
	border-top:1px solid #fff;
	text-align:center;
	font-size:14px;
	cursor:pointer;
	float:left;
}

.madou_main_center_content_taglong_content_text{
	width:800px;
	text-align:left;
	float:left;
}

.taglongactive{
	background:#fff;
	font-weight:bold;
}

